.ui.form.char_details .inline.field label {
    width: 20%;
    text-align: right;
}

.ui.form.char_details .inline.field .ui.input {
    width: 70%;
}

.ui.form.char_details .inline.field textarea {
    width: 70%;
}

.ui.form.char_details .inline.field {
    width: 100%;
}

.ui.form.char_details {
    margin-bottom: 2em;
}